.pokemon {
    .hero {
        display: flex;
        width: 80vw;
        margin: auto;
        margin-top: 40px;

        .info {
            margin-left: 30px;

            .name {
                height: 9vh;
                background-color: var(--color4);
                width: 36vw;
                border-radius: 20px;
                text-align: left;

                h1 {
                    padding-top: 10px;
                    padding-left: 20px;
                    font-size: 32px;
                    color: white;
                }
            }
        }

    }
}