.MoveStats {
    display: flex;
    background-color: white;
    width: 66.6%;

    .gStats {
        width: 50%;
        height: 400px;
        overflow-x: hidden;

        .statRow {
            display: flex;
            width: 30vw;
            font-size: 18px;
            padding: 10px 0px 10px 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-bottom: 1px dotted black;

            >.stat {
                width: 50%;
            }

            >.value {
                width: 50%;
            }
        }
    }

    .learningInfo {
        font-size: 1.4vw;
        width: 50%;
        border: 1px solid black;
        overflow-y: scroll;
        overflow-x: hidden;

    }
}