.MoveStats {
    display: flex;
    background-color: white;
    width: 66.6%;

    .gStats {
        width: 50%;
        height: 400px;
        overflow-x: hidden;

        .statRow {
            display: flex;
            width: 30vw;
            padding-top: 20px;

            .stat {
                width: 50%;
            }

            .value {
                width: 50%;
            }
        }
    }

    .learningInfo {
        font-size: 1.4vw;
        width: 50%;
        border: 1px solid black;

    }
}