.MoveStats {
    .gStats {
        .statRow {
            display: flex;
            width: 30vw;
            padding-top: 20px;

            .stat {
                width: 50%;
            }

            .value {
                width: 50%;
            }
        }
    }
}