.moves {
    padding-top: 50px;
    display: flex;
    width: 80%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--color4);
    margin-bottom: 100px;

    .moveList {
        width: 33.3%;
        text-align: left;
        overflow-x: scroll;
        direction: rtl;
        overflow-x: scroll;
    }


    .moveName {
        cursor: pointer;
        font-size: 1.2vw;

        &:hover {
            background-color: aliceblue;
        }
    }
}