.Carousel {
    width: 30vw;
    height: 30vw;
    background-color: var(--color5);
    display: flex;
    margin-left: 10vw;
    margin-top: 30px;
    border-radius: 20px;

    .slide {
        margin: auto;
        width: 100%;
        display: flex;

        .img {
            margin: auto;
            height: 20vw;
        }
    }

    .btn {
        display: flex;
        align-items: center;
        color: var(--color2);

        .BtnLeft {
            font-size: 30px;
            cursor: pointer;
        }

        .BtnRight {
            font-size: 30px;
            cursor: pointer;

        }
    }
}